<template>
  <section v-if="username">
    <h1 class="text-2xl font-medium mt-8 mb-4" v-text="msg"></h1>
    <p>
      This HelloWorld demo is a small showcase how to communicate with various
      socket events.
    </p>
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-6">
        <div class="mt-4 mb-2 flex content-between">
          <h3 class="text-lg font-medium flex-auto">Menu</h3>
          <ButtonMain
            variant="warning"
            label="Logout"
            size="xs"
            ripple
            icon-before="fa-sign-out"
            :icon-family="iconFamily"
            @click="onClickLogout()"
          />
        </div>
        <div
          class="preview border-base-300 bg-base-200 rounded-b-box rounded-tr-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 mt-2"
        >
          <div class="form-control">
            <div class="input-group">
              <span>Publish</span>
              <input
                v-model="messages.publish"
                placeholder="To everybody"
                class="w-full pl-2"
                @keyup.enter="onClickEmitPublish()"
              />
              <ButtonMain
                variant="primary"
                ripple
                square
                icon-before="fa-paper-plane"
                :icon-family="iconFamily"
                @click="onClickEmitPublish()"
              />
            </div>
          </div>

          <div class="form-control">
            <div class="input-group">
              <span>Send</span>
              <input
                v-model="messages.send"
                placeholder="To yourself only"
                class="w-full pl-2"
                @keyup.enter="onClickEmitSend()"
              />
              <ButtonMain
                variant="primary"
                ripple
                square
                icon-before="fa-paper-plane"
                :icon-family="iconFamily"
                @click="onClickEmitSend()"
              />
            </div>
          </div>

          <div class="form-control">
            <div class="input-group">
              <span>Broadcast</span>
              <input
                v-model="messages.broadcast"
                placeholder="To everybody but yourself"
                class="w-full pl-2"
                @keyup.enter="onClickEmitBroadcast()"
              />
              <ButtonMain
                variant="primary"
                ripple
                square
                icon-before="fa-paper-plane"
                :icon-family="iconFamily"
                @click="onClickEmitBroadcast()"
              />
            </div>
          </div>
        </div>
        <div
          class="preview border-base-300 bg-base-200 rounded-b-box rounded-tr-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 mt-2"
        >
          <div class="form-control">
            <ButtonMain
              v-if="!joinedTestRoom"
              variant="primary"
              outline
              ripple
              label="Join: Test room"
              @click="onClickEmitJoinRoomTest()"
            />
            <div v-if="joinedTestRoom" class="input-group">
              <span>Publish</span>
              <input
                v-model="messages.room"
                placeholder="To every member of this room"
                class="w-full pl-2"
                @keyup.enter="onClickEmitSendRoomTest()"
              />
              <ButtonMain
                variant="primary"
                ripple
                square
                icon-before="fa-paper-plane"
                :icon-family="iconFamily"
                @click="onClickEmitSendRoomTest()"
              />
            </div>
            <ButtonMain
              v-if="joinedTestRoom"
              variant="primary"
              outline
              ripple
              label="Leave: Test room"
              class="mt-2"
              @click="onClickEmitLeaveRoomTest()"
            />
          </div>
        </div>
        <div
          class="preview border-base-300 bg-base-200 rounded-b-box rounded-tr-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden border bg-cover bg-top p-4 mt-2"
        >
          <div class="form-control">
            <ButtonMain
              v-if="!joinedRoomService"
              variant="primary"
              outline
              ripple
              label="Join: Service event room"
              @click="onClickEmitJoinRoomServiceEvent()"
            />
            <ButtonMain
              v-if="joinedRoomService"
              variant="primary"
              outline
              ripple
              label="Leave: Service event room"
              @click="onClickEmitLeaveRoomServiceEvent()"
            />
          </div>
        </div>
      </div>
      <div class="col-span-6">
        <h3 class="text-lg font-medium mt-4 mt-2">History</h3>
        <div
          class="bg-gray-100 p-8 overflow-y-auto h-96"
          ref="history"
        >
          <div class="max-w-4xl mx-auto space-y-12 grid grid-cols-1">
            <template v-for="(item, index) in history" :key="index">
              <div
                v-if="item.author === username"
                class="place-self-end text-right"
              >
                <div
                  class="bg-green-50 text-green-900 p-5 rounded-2xl rounded-tr-none"
                  v-text="item.msg"
                ></div>
                <small
                  >{{ item.author }} /
                  {{ getFormatedTime(item.timestamp) }}</small
                >
              </div>

              <div v-else class="place-self-start text-left">
                <div
                  class="bg-white p-5 rounded-2xl rounded-tl-none"
                  v-text="item.msg"
                ></div>
                <small
                  >{{ item.author }} /
                  {{ getFormatedTime(item.timestamp) }}</small
                >
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p v-else>Loading ...</p>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ResponseDefault } from "../interfaces/SocketIO";
import ButtonMain from "../components/ButtonMain.vue";
import postRobot from "post-robot";

export default defineComponent({
  components: {
    ButtonMain,
  },
  props: {
    msg: {
      type: String,
      required: true,
    },
    iconFamily: {
      type: String,
      default: "fas",
    },
  },
  data(): any {
    return {
      id: "dashboard-widget-helloWorld",
      username: null,
      history: [],
      joinedTestRoom: false,
      joinedRoomService: false,
      onChannelOnMsg: null,
      onChannelOnRoomMsg: null,
      channels: {
        on: {
          new_msg: "channel.on.msg",
          new_room_msg: "channel.on.room-msg",
        },
        emit: {
          testAll: "channel.emit.all",
          testEmit: "channel.emit.publish",
          testBroadcast: "channel.emit.broadcast",
          joinRoom: "channel.room.join",
          sendRoom: "channel.room.send",
          leaveRoom: "channel.room.leave",
          joinServiceEvent: "channel.service.join",
          leaveServiceEvent: "channel.service.leave",
        },
      },
      messages: {
        publish: null,
        send: null,
        boradcast: null,
        room: null,
      },
    };
  },
  watch: {
    // 'messages.publish'() {
    //   console.log('changed', 'publish', this.messages.publish);
    // },
    // 'messages.send'() {
    //   console.log('changed', 'send', this.messages.send);
    // },
    // 'messages.broadcast'() {
    //   console.log('changed', 'broadcast', this.messages.broadcast);
    // },
  },
  beforeMount(): void {
    // window.addEventListener("message", this.onPostMessage, false);
    const payload = this.getDefaultPostRobotPayload();
    postRobot.send(window, "iam.register", payload).catch(console.error);

    if (!this.onChannelOnMsg)
      this.onChannelOnMsg = postRobot.on(
        "channel.on.msg",
        this.handleChannelOnMsg
      );
    if (!this.onChannelOnRoomMsg)
      this.onChannelOnRoomMsg = postRobot.on(
        "channel.on.room-msg",
        this.handleChannelOnRoomMsg
      );
  },
  mounted(): void {
    // console.log('dashboard-widget', this.iamUri, this.dashboardUri, this.target, this.msg)
    this.$nextTick(() => {
      const payload = this.getDefaultPostRobotPayload();
      // payload.items.push({
      //   service: "user",
      //   action: "get",
      //   key: "preferred_username",
      // });
      postRobot
        .send(window, "iam.get.username", payload)
        .then((event: any) => {
          this.username = event.data.username || null;
        })
        .catch(console.error);

      this.init();
    });
  },
  beforeUnmount(): void {
    if (this.onChannelOnMsg) this.onChannelOnMsg.cancel();
    if (this.onChannelOnRoomMsg) this.onChannelOnRoomMsg.cancel();

    const payload = this.getDefaultPostRobotPayload();
    postRobot.send(window, "iam.unregister", payload).catch(console.error);
  },
  updated(): void {
    this.$nextTick(() => {
      this.scrollToBottom("history");
    });
  },
  methods: {
    getFormatedTime(timestamp: number) {
      const time = timestamp ? timestamp : Date.now();
      return new Date(time).toLocaleString();
    },
    getDefaultPostRobotPayload(): any {
      return {
        id: this.id,
        items: [],
      };
    },
    async handleChannelOnMsg(event: any) {
      console.log("dashboard-widget", "channel.on.msg", event);
      // Only proceed on valid data node
      if (!event.data) return;
      this.handleNewMsg(event.data);
      return 1;
    },
    async handleChannelOnRoomMsg(event: any) {
      console.log("dashboard-widget", "channel.on.room-msg", event);
      // Only proceed on valid data node
      if (!event.data) return;
      this.handleNewRoomMsg(event.data);
      return 1;
    },
    scrollToBottom(id: string): void {
      const element = this.$refs[id] ? this.$refs[id] : null;
      if (element)
        element.scrollTop = element.scrollHeight - element.clientHeight;
    },
    addToHistory(data: ResponseDefault): void {
      this.history.push(data);
    },
    onClickLogout(): void {
      const payload = this.getDefaultPostRobotPayload();
      // payload.items.push({});
      postRobot.send(window, "iam.logout", payload).catch(console.error);
    },
    onClickEmitPublish(): void {
      if (!this.messages.publish) return;
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: this.messages.publish,
        timestamp: Date.now(),
      });
      this.messages.publish = null;
      postRobot
        .send(window, this.channels.emit.testAll, payload)
        .catch(console.error);
    },
    onClickEmitSend(): void {
      if (!this.messages.send) return;
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: this.messages.send,
        timestamp: Date.now(),
      });
      this.messages.send = null;
      postRobot
        .send(window, this.channels.emit.testEmit, payload)
        .catch(console.error);
    },
    onClickEmitBroadcast(): void {
      if (!this.messages.broadcast) return;
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: this.messages.broadcast,
        timestamp: Date.now(),
      });
      this.messages.broadcast = null;
      postRobot
        .send(window, this.channels.emit.testBroadcast, payload)
        .catch(console.error);
    },
    onClickEmitJoinRoomTest(): void {
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: "test-joinRoom",
        room: "test-room",
        timestamp: Date.now(),
      });
      postRobot
        .send(window, this.channels.emit.joinRoom, payload)
        .catch(console.error);
    },
    onClickEmitSendRoomTest(): void {
      if (!this.messages.room) return;
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: this.messages.room,
        room: "test-room",
        timestamp: Date.now(),
      });
      this.messages.room = null;
      postRobot
        .send(window, this.channels.emit.sendRoom, payload)
        .catch(console.error);
    },
    onClickEmitLeaveRoomTest(): void {
      const payload = this.getDefaultPostRobotPayload();
      payload.items.push({
        msg: "test-leaveRoom",
        room: "test-room",
        timestamp: Date.now(),
      });
      postRobot
        .send(window, this.channels.emit.leaveRoom, payload)
        .catch(console.error);
    },
    onClickEmitJoinRoomServiceEvent(): void {
      const payload = this.getDefaultPostRobotPayload();
      postRobot
        .send(window, this.channels.emit.joinServiceEvent, payload)
        .catch(console.error);
    },
    onClickEmitLeaveRoomServiceEvent(): void {
      const payload = this.getDefaultPostRobotPayload();
      postRobot
        .send(window, this.channels.emit.leaveServiceEvent, payload)
        .catch(console.error);
    },
    handleNewMsg(dataset: ResponseDefault[]): void {
      for (const data of dataset) {
        this.addToHistory(data);
      }
    },
    handleNewRoomMsg(dataset: ResponseDefault[]): void {
      for (const data of dataset) {
        // Updated logged state
        switch (data.msg) {
          case "joinRoom":
          case "leaveRoom":
            this.joinedTestRoom = "joinRoom" === data.msg;
            break;

          case "socket event joined":
          case "left service event":
            this.joinedRoomService = "socket event joined" === data.msg;
            break;
        }
        this.addToHistory(data);
      }
    },
    init(): void {
      const payload = this.getDefaultPostRobotPayload();
      // Register required ON events
      payload.items = Object.entries(this.channels.on);
      postRobot
        .send(window, "register.on.channels", payload)
        .catch(console.error);
      // Register required EMIT events
      payload.items = Object.entries(this.channels.emit);
      postRobot
        .send(window, "register.emit.channels", payload)
        .catch(console.error);
      // Print start message
      this.addToHistory({
        author: "SYSTEM",
        timestamp: Date.now(),
        msg: "Welcome",
      });
    },
  },
});
</script>
