<template>
  <button
    type="button"
    class="btn overflow-hidden relative"
    :class="[
      variant ? `btn-${variant}` : '',
      size ? `btn-${size}` : '',
      active ? 'btn-active' : '',
      outline ? 'btn-outline' : '',
      wide ? 'btn-wide' : '',
      square ? 'btn-square' : '',
      circle ? 'btn-circle' : '',
      block ? 'btn-block' : '',
      glass ? 'glass' : '',
      loading ? 'loading' : '',
      noAnimation ? 'no-animation' : '',
    ]"
    :disabled="disabled"
    v-ripple="ripple ? 'bg-white opacity-40' : null"
  >
    <i
      v-if="iconBefore"
      class="inline-block"
      :class="[iconFamily, iconBefore, label ? 'mr-2' : '']"
    ></i>
    <span v-if="label" class="inline-block" v-text="label"></span>
    <i
      v-if="iconAfter"
      class="inline-block"
      :class="[iconFamily, iconAfter, label ? 'ml-2' : '']"
    ></i>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import btnRipple from "../directives/ripple";
import { Variants, Sizes } from "../interfaces/Button";

export default defineComponent({
  directives: {
    ripple: btnRipple,
  },
  components: {},
  props: {
    ripple: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: null,
    },
    variant: {
      type: String as () => Variants,
      default: null,
    },
    size: {
      type: String as () => Sizes,
      default: null,
    },
    active: {
      type: Boolean,
      default: false,
    },
    outline: {
      type: Boolean,
      default: false,
    },
    wide: {
      type: Boolean,
      default: false,
    },
    glass: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    square: {
      type: Boolean,
      default: false,
    },
    circle: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    noAnimation: {
      type: Boolean,
      default: false,
    },
    iconFamily: {
      type: String,
      default: "fas",
    },
    iconBefore: {
      type: String,
      default: null,
    },
    iconAfter: {
      type: String,
      default: null,
    },
  },
  // data(): any {
  //   return {

  //   }
  // },
  beforeMount(): void {},
  mounted(): void {},
  beforeUnmount(): void {},
  updated(): void {
    this.$nextTick(() => {});
  },
  methods: {},
});
</script>

<style>
.ripple-wrap {
  position: relative;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
</style>
