<template>
  <link
    type="text/css"
    rel="stylesheet"
    media="all"
    href="http://dashboard-widget.localhost/css/app.css"
  />
  <link type="text/css" rel="stylesheet" media="all" :href="utilitycss" />
  <link type="text/css" rel="stylesheet" media="all" :href="themecss" />
  <link type="text/css" rel="stylesheet" media="all" :href="iconcss" />
  <section :class="ready ? 'd-block' : 'd-none'" :data-theme="theme">
    <HelloWorld
      v-if="logged"
      msg="Welcome to ambtec Vue.js App"
      :icon-family="iconFamily"
    />
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import postRobot from "post-robot";
import HelloWorld from "./templates/HelloWorld.vue";
import ripple from "./directives/ripple";

export default defineComponent({
  components: {
    HelloWorld,
  },
  directives: {
    ripple,
  },
  props: {
    redirecturi: {
      type: String,
      required: true,
    },
    login: {
      type: Boolean,
      default: false,
    },
    theme: {
      type: String,
      default: "light",
    },
    themecss: {
      type: String,
      default: "https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css",
    },
    utilitycss: {
      type: String,
      default:
        "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css",
    },
    iconcss: {
      type: String,
      default:
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css",
    },
    iconFamily: {
      type: String,
      default: "fas",
    },
  },
  data(): any {
    return {
      ready: false,
      target: null,
      logged: false,
      onIamStateUpdate: null,
      postRobotPayload: {
        id: "dashboard-widget",
        items: [],
      },
    };
  },
  beforeMount(): void {
    // window.addEventListener("message", this.onPostMessage, false);
    const payload = this.postRobotPayload;
    postRobot.send(window, "iam.register", payload).catch(console.error);

    // No handler found for post message: iam.state.update
    try {
      if (!this.onIamStateUpdate)
        this.onIamStateUpdate = postRobot.on(
          "iam.state.update",
          this.handleIamStateUpdate
        );
    } catch (e) {
      console.warn(e);
    }
  },
  mounted(): void {
    console.log("dashboard-widget", "mounted");
    this.setParentUri();

    this.onReady()
      .then(() => {
        requestAnimationFrame(() => {
          this.ready = true;
        });
      })
      .catch(console.error);
  },
  beforeUnmount(): void {
    if (this.onIamStateUpdate) this.onIamStateUpdate.cancel();

    const payload = this.postRobotPayload;
    postRobot.send(window, "iam.unregister", payload).catch(console.error);
  },
  watch: {
    login(): void {
      if (!this.logged && (true === this.login || "true" === this.login)) {
        this.iamLogin();
      }
    },
    logged(): void {
      // if (this.logged)
    },
  },
  methods: {
    async handleIamStateUpdate(event: any) {
      console.log("dashboard-widget", "iam.state.update", event);
      // Only proceed on valid data node
      if (!event.data) return;
      this.logged = true === event.data.logged;
      return 1;
    },
    handleLoggedState(loginState: boolean) {
      this.enabled = loginState;
    },
    iamLogin() {
      const payload = {
        ...this.postRobotPayload,
        ...{
          target: this.redirecturi,
        },
      };
      // payload.items.push({
      //   service: "user",
      //   action: "login",
      //   target: this.target
      // });

      postRobot
        .send(window, "iam.login", payload)
        .then((event: any) => {
          console.log("dashboard-widget", "iam.login", event);
          // Only proceed on valid data node
          if (!event.data) return;
          this.logged = true === event.data.logged;
        })
        .catch(console.error);
    },
    setParentUri(): void {
      if (!this.redirecturi) return;
      // https://stackoverflow.com/questions/736513/how-do-i-parse-a-url-into-hostname-and-path-in-javascript
      const parser = document.createElement("a");
      parser.href = this.redirecturi;
      this.target = `${parser.protocol}//${parser.host}`;
    },
    async onReady() {
      return new Promise((resolve, reject) => {
        const onReadyTimeout = 10000;
        const timeout = setTimeout(() => {
          reject("OnReady timed out");
        }, onReadyTimeout);

        if (
          document.readyState === "complete" ||
          document.readyState === "interactive"
        ) {
          clearTimeout(timeout);
          resolve(true);
        } else {
          document.addEventListener("DOMContentLoaded", () => {
            clearTimeout(timeout);
            resolve(true);
          });
        }
      });
    },
  },
});
</script>

<style></style>
